* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
}

body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    color: #555;
    background-color: #ecf0f3;
    display: flex;
    align-items: center;
    justify-content: center;

}

.main_login {
    padding: 10px;
    margin: auto;
    min-height: 400px;
    min-width: 350px;
    /* border: 1px solid red; */
    border-radius: 20px;
    background-color: #ecf0f3;
    box-shadow: 13px 13px 10px #cbced1,
        -13px 13px 10px #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

}

.logo {
    background: url('https://t3.ftcdn.net/jpg/05/79/55/26/360_F_579552668_sZD51Sjmi89GhGqyF27pZcrqyi7cEYBH.png');
    height: 100px;
    width: 100px;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    box-shadow:
        0px 0px 2px #5f5f5f,
        /* offset */
        0px 0px 0px 5px #ecf0f3,
        /* bottom right */
        8px 8px 15px #a7aaaf,
        /* top left */
        -8px -8px 15px #ffffff
    ;

}

.title{
    text-align: center;
    font-size: 28px;
    letter-spacing: 0.5px;
}
.subtitle{
    text-align: center;
    font-size: 15px;
}
.input_box{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;
    
}
.user, .pass{
    position: relative;

}
.user i, .pass i{
    position: absolute;
    left: 10px;
    bottom: 18px;
}

.input_box input{
    border: none;
    outline: none;
    background-color: none;
    border-radius: 25px;
    font-size: 18px;
    color: #555;
    margin-top: 20px;
    
    box-shadow: inset 8px 8px 8px #cbced1,
    inset -8px -8px 8px #ffffff;
    padding: 15px 35px;

    
}


.btn{
    border: none;
    outline: none;
    background-color: rgb(76, 76, 215);
    width: 80%;
    padding: 15px 50px;
    text-align: center;

    font-size: 20px;
    color: white;
    border-radius: 14px;
    box-shadow: 8px 8px 20px #5f5f5f,
    -3px -3px 8px #cbced1;
    font-weight: 500;
    margin-top: 40px;
    text-decoration: none;
}

.btn:hover{
    background-color: blue;
    cursor: pointer;
}

.link a{
    color: #555;
    text-decoration: none;
    font-weight: 300;
}