*{
    margin: 0;
    padding: 0;

}
 
.navbar {
    overflow: hidden;
    background-color: blue;
    position: fixed; 
    top: 0; 
    width: 100%; 

  }
  .logo{
  
    width: 200px;
    cursor: pointer;
    background: transparent ;
    margin-left: 50%;
}
  
  
  .navbar a {
 float: left;
    display: block;
    color: #f2f2f2;
    text-align: none;
    padding: 30px 20px 0px 50px;
    text-decoration: none;
  }
   .navbar ul li {
    list-style: none;
    display: inline-block;
     margin-left: 50px; 
   
    } 
    
    