@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Poppins:wght@400;500;600;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;

}

.main {
    width: 100%;
    min-height: 100vh;
    margin: auto;
    background-color: rgb(22, 32, 44);
}

.box1 {
    width: 100%;
    height: 140px;
    background-color: rgb(18, 179, 163);
}

.box1 .space {
    width: 100%;
    height: 40px;
    background-color: rgb(11, 9, 57);
}

.box1 .space .top-left {
    width: 100px;
    height: 20px;
    color: white;
    float: left;
    margin-left: 40px;
    margin-top: 10px;
}

.space .top-right {

    /* font-size: 40px; */
    color: rgb(255, 255, 255);
    /* color: white; */
    float: right;
    width: 200px;
    /* background-color: green; */
    /* padding-left: 20px; */
    margin-top: 15px;

}

.space .top-right i {
    margin-left: 30px;
}

.box1 .logo {
    width: 80px;
    /* height: 60px; */
    float: left;
    margin-left: 40px;
    margin-top: 12px;
}

.logo h2 {
    width: 200px;
    height: 50px;
    font-size: 20px;

    float: left;
    margin-top: -60px;
    margin-left: 100px;
}

.box1 .logo img {
    width: 100%;
    border-radius: 50%;
}

.navbar {
    float: right;
}

.box1 .navbar ul li {

    display: inline-block;
    margin-right: 50px;
    margin-top: 40px;
    font-size: 22px;
    /* border-bottom: 2px solid rgb(255, 255, 255); */
}

.box1 .navbar ul li a {
    transition: all .4s linear;

}

.box1 .navbar ul li:hover a {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color: #ffff;
    color: rgb(0, 0, 0);
    transform: translateY(-20px);
}

.navbar a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-transform: capitalize;
}

.box2 {
    width: 100%;
    height: 550px;


}

.box2 img {

    width: 100%;

    height: 100%;
    object-fit: cover;

}

.box3 {
    width: 100%;
    height: 600px;

    /* background-color: rgb(12, 172, 153); */
}

.box3 .left {
    width: 500px;
    height: 300px;
    float: left;
    margin-top: 150px;
    margin-left: 80px;
    /* background-color: aqua; */
    color: white;
}

.box3 .right {
    width: 650px;
    height: 300px;

    float: right;
    margin-top: 150px;

}

.box3 .right img {
    width: 100%;
    border-top-left-radius: 150px;
    border-bottom-left-radius: 150px;
}

.box4 {
    width: 100%;
    height: 600px;

}

.box4 .right {
    width: 500px;
    height: 300px;
    float: right;
    margin-top: 150px;
    margin-right: 80px;
    /* background-color: aqua; */
    color: white;
}

.box4 .left {
    width: 650px;
    height: 300px;

    float: left;
    margin-top: 150px;

}

.box4 .left img {
    width: 100%;
    border-top-right-radius: 150px;
    border-bottom-right-radius: 150px;
}

.box5 {
    width: 100px;
    height: 550px;

}

.box5 .left {
    width: 500px;
    height: 300px;
    float: left;
    /* margin-top: 50px; */
    margin-left: 80px;
    /* background-color: aqua; */
    color: white;
}

.box5 .right {
    width: 650px;
    height: 300px;


    margin-left: 800px;
    margin-top: 150px;

}

.box5 .right img {
    width: 100%;
    border-top-left-radius: 150px;
    border-bottom-left-radius: 150px;
}

.box6 {
    width: 100%;
    height: 400px;

    color: white;

}

.box6 .left {
    width: 400px;
    height: 300px;
    /* background-color: darksalmon; */
    float: left;
    margin-left: 150px;
}

.box6 .left .btn h1 {
    width: 180px;
    height: 50px;
    background-color: aqua;
    text-align: center;
    margin-top: 30px;
    color: rgb(0, 0, 0);
    border-radius: 10px;
}

.box6 .left .btn h1:hover {
    background-color: rgb(168, 128, 255);
}

.box6 .right {
    width: 600px;
    height: 300px;

    float: right;
    margin-right: 100px;
}

.box7 {
    width: 100%;
    height: 500px;

}

.box7 .imags {
    width: 300px;
    height: 400px;
    background-color: chartreuse;
    float: left;
    margin-left: 63px;

}

.box7 .imags img {
    width: 100%;
}

.box8 {
    width: 100%;
    height: 700px;
    /* background-color: red; */
}

.box8 h1 {
    font-size: 35px;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    color: rgb(146, 169, 254);
}

.box8 h2 {
    font-size: 35px;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    color: rgb(255, 255, 255);
}

.box8 p {
    width: 700px;
    height: 200px;
    margin-top: 40px;
    margin-left: 400px;
    text-align: center;
    color: white;
}

.box8 .images {
    width: 300px;
    height: 500px;
    /* background-color: darkmagenta; */
    float: left;
    margin-left: 150px;
    /* border-radius: 50%; */
    overflow: hidden;
}

.box8 .images img {
    width: 100%;
    border-radius: 50%;
    transition: all .5s linear;

}

.box8 .images:hover img {
    transform: rotateY(180deg) scale(3);
}

.box8 .images h2 {
    text-align: center;
    margin-top: 20px;
}

.box9 {
    width: 100%;
    height: 900px;
    /* background-color: blueviolet; */
}

.box9 h1 {
    text-align: center;
    font-size: 40px;
    margin-top: 30px;
    color: rgb(43, 202, 202);
}

.box9 .left {
    width: 300px;
    height: 300px;
    background-color: red;
    float: left;
    margin-left: 300px;
    margin-top: 80px;
}

.box9 .left img {
    width: 100%;
}

.box9 .right {
    width: 300px;
    height: 300px;
    background-color: cornflowerblue;
    float: right;
    margin-right: 307px;
    margin-top: 30px;
}

.box9 .right img {
    width: 100%;
    /* transition: all .6s linear; */
}

.box10 {
    width: 100%;
    height: 500px;
    /* background-color: gold; */
}

.box10 img {
    width: 100%;
}

.box11 {
    width: 100%;
    height: 700px;
    /* background-color: goldenrod; */
    margin-top: 40px;
}

.box11 h1 {
    width: 300px;
    height: 60px;
    font-size: 45px;
    /* background-color: blue; */
    float: left;
    margin-left: 600px;
    margin-top: 100px;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    color: rgb(56, 205, 225);
}

.box11 .left {
    width: 400px;
    height: 300px;
    /* background-color: aqua; */
    float: left;
    margin-top: 300px;
    margin-left: -850px;


}

.box11 h2 {
    color: aqua;
}

.box11 .left p {
    float: left;
    margin-top: 20px;
    color: white;

}

.box11 .right {
    width: 900px;
    height: 450px;
    /* background-color: blueviolet; */
    float: right;
    margin-top: 50px;
    margin-right: 50px;

}

.box11 .right .top {
    width: 150px;
    height: 150px;
    /* background-color: red; */
    float: left;
    margin-left: 60px;
    margin-top: 40px;
    overflow: hidden;
}

.box11 .right img {
    width: 100%;
    border-radius: 300px;
    transition: all .6s linear;

}

.box11 .right .bottom {
    width: 150px;
    height: 150px;
    overflow: hidden;
    /* border: 2px solid red; */
    float: left;
    margin-left: 60px;
    margin-top: 80px;
    transition: transform .6s linear;
}

.box11 .right .bottom:hover img,
.top:hover img {
    transform: rotateY(180deg) scale(1.5);
}

.box12 {
    width: 100%;
    min-height: 400px;
    /* background-color: blueviolet; */
    overflow: hidden;


}

.box12 .mapbox {
    overflow: hidden;
    height: 300px;
}

.box12 h1 {

    /* background-color: red; */
    text-align: center;
    font-size: 40px;
    color: white;
    margin-bottom: 40px;
}

.box12 .mapbox img {
    width: 100%;
    height: 100%;
    transition: all .5s linear;



}

.box12 .mapbox:hover img {
    transform: scale(1.5);

}

.box13 {
    width: 100%;
    height: 700px;
    /* background-color: red; */
    margin-top: 100px;
    border-bottom: 2px solid white;
}

.box13 .left {
    width: 400px;
    height: 400px;
    background-color: aqua;
    float: left;
    margin-top: 100px;
    margin-left: 80px;

}

.box13 .left img {
    width: 100%;
    height: 100%;
    border-top-right-radius: 85%;
    transition: all .5s linear;
}

.box13 .left img:hover {
    border-top-right-radius: 0%;
    border-bottom-left-radius: 85%;
}

.box13 .left p {
    color: white;
}

.box13 .right {
    width: 500px;
    height: 500px;
    /* background-color: rgb(255, 255, 255); */
    float: right;
    margin-top: 100px;
    margin-right: 150px;
    border-radius: 20px;
    color: white;
    border: 1px solid #ffff;
    margin-bottom: 6px;
    font-size: 15px;
    transition: .3s linear;
}

.box13 .right:hover {
    box-shadow: 0px 0px 20px white;
}

.box13 .right h2 {
    text-align: center;
}

.box13 .right .text {
    width: 80%;
    height: 30px;
    margin: auto;
    /* text-align: center; */
    margin-top: 70px;
    /* padding: 10px; */
    border-bottom: 2px solid red;
}

.box13 .right .text h3 {
    transition: .3s linear;
}


.box13 .right .text:hover h3 {
    transform: translateY(-5px) scale(.8);

}

.box13 .right .enter4 {
    /* width: 50px;
    height: 20px;
    /* border: 2px solid red; */
    width: 23%;
    margin-top: 20px;
    border-bottom: 2px solid rebeccapurple;
    text-align: center;
}

.box14 {
    width: 100%;
    height: 600px;
    /* background-color: darksalmon; */
    color: white;
}

.box14 .one {
    width: 300px;
    height: 400px;
    background-color: rgb(4, 31, 87);
    float: left;
    margin-left: 80px;
    margin-top: 100px;
    border-radius: 20px;
    border: 2px solid white;
}

.box14 li {

    list-style: none;
    font-size: 22px;
    margin-top: 30px;
    text-align: center;


}

.box14 a {

    text-decoration: none;
    color: rgb(255, 255, 255);

}

.box14 li:hover a {
    color: red;
}

.box14 .two {
    width: 400px;
    height: 400px;
    /* background-color: red; */
    float: left;
    margin-left: 150px;
    margin-top: 100px;
}

.box14 .two i {
    margin-left: 20px;
    font-size: 25px;
}

.box14 .three {
    width: 350px;
    height: 350px;
    background-color: red;
    float: right;
    margin-top: 60px;
    margin-right: 100px;
}

.box14 .three img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.box14 .three h1 {
    color: white;
    margin-left: 22px;
}

.box15 {
    width: 100%;
    height: 500px;
    /* background-color: red; */
}

.box15 .mid {
    width: 180px;
    height: 200px;
    background-color: yellow;
    margin-left: 100px;
    float: left;
    margin-top: 300px;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;

}

.box15 .color1 {
    height: 400px;
    background-color: rgb(0, 255, 229);
    /* background-color: transparent; */
    overflow: hidden;
    transform: translateY(-200px);
    border-top-right-radius: 100px;
    border-top-left-radius: 100px;
}




.box15 .color3 {
    height: 500px;
    width: 200px;
    background-color: rgb(255, 0, 60);
    transform: translateY(-300px) ;
    border-top-right-radius: 150px;
    overflow: hidden;
    border-top-left-radius: 10px;
}
/* .box15 .color3 img{
     width: 100%;
    transform: translateY(400px) scale(1.5);;
    transition: all .5s linear;
    filter: drop-shadow(3px 3px 5px rgb(255, 0, 25));
} */
.box15 .color3:hover img{
    transform: translateY(90px) scale(1.5);

}

.box15 .color5 {
    height: 500px;

    transform: translateY(-300px);
    background-color: red;
    border-top-right-radius: 150px;
    border-top-left-radius: 10px;
}

.box15 .mid:hover {
    background-color: rgb(6, 6, 66);
}